@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --brown:#6F4E37;
    --dark:#4B3527;
    --cream:#F7F4F1;
    --white:#ffffff;
    --gray:#7C746D;
    --border:#E7DDD4;
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:var(--cream);
    color:var(--dark);
}


.navbar{
    background:var(--brown);
}

.navbar-brand{
    font-size:1.4rem;
}

.nav-link{
    color:white!important;
    transition:.3s;
}

.nav-link:hover,
.nav-link.active{
    color:#ead8c7!important;
}


h1{
    font-weight:700;
    color:var(--dark);
}

.section-title{
    color:var(--dark);
    border-left:4px solid var(--brown);
    padding-left:12px;
    font-weight:600;
}


.card{
    border:none;
    border-radius:14px;
    background:var(--white);
    box-shadow:0 8px 20px rgba(0,0,0,.05);
    transition:.3s;
}

.card:hover{
    transform:translateY(-4px);
    box-shadow:0 12px 25px rgba(0,0,0,.08);
}

.history-card{
    margin-bottom:20px;
}

.card-body{
    padding:25px;
}


h5{
    color:var(--dark);
    font-weight:600;
}

p{
    color:var(--gray);
    margin-bottom:10px;
    line-height:1.6;
}

strong{
    color:var(--dark);
}

hr{
    border-top:1px solid var(--border);
}


.badge{
    padding:8px 16px;
    border-radius:30px;
    font-weight:500;
}

.completed{
    background:#74b44e;
    color:white;
}

.cancelled{
    background:#b45555;
    color:white;
}

.upcoming{
    background:var(--brown);
    color:white;
}


.btn-book{
    background:var(--brown);
    color:white;
    border:none;
    padding:12px;
    border-radius:10px;
    transition:.3s;
}

.btn-book:hover{
    background:#563b2a;
    color:white;
}


.sticky-booking{
    position:sticky;
    top:90px;
}



@media(max-width:991px){

    .sticky-booking{
        position:static;
    }

} 